# Dependencies
node_modules/
.npm

# Build
build/
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebaserc
firebase-debug.*.log
.firebase/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Test
coverage/
